<h1><%= @recipe.name %></h1>
<div align="center">
<h6>submitted by: <%= @recipe.users.first.email %></h6>
<h5>Calories</h5>
<%= @recipe.calories %><br><br>
<h5>Prep Time</h5>
<%= @recipe.prep_time %><br><br>
<h5>Description</h5>
<%= @recipe.description %><br><br>
<h5>Dish Style</h5><br><br>
<%= @recipe.style.name %><br><br>
</div>
<div align="center" style="padding: 50px;">
<h5>Ingredients</h5>
<table style="text-align: center;">

<table>
<tr><th>ingredient</th><th>amount</th><th>type</th></tr>
<% @recipe.ingredients.each do |ing| %>
    <tr><td><%= ing.name %></td>
    
    <td><%= @recipe.items.find_by(ingredient: ing).quantity %></td>
    <td><%= ing.category %></td></tr>
    
    <% #byebug %>
    
<% end %>
</table>
</div>
<br>
<br>
<table>
<tr><th>
<div id="edit_button">
<%= button_to "Edit Recipe", edit_recipe_path(@recipe), :method => :get, :class => "button-clear" %>
</div>
</th>
<th>
<div id="delete_button">
<%= button_to "Delete Recipe", recipe_path(@recipe), :method => :delete, :class => "button-clear" %>
</div>
</th>
<th>
<div id="add_button">
<%= button_to 'Add to favorites', favorites_create_path(recipe_id: @recipe), method: :post, :class => "button-clear" %>
</div>
</th>
<th>
<div id="remove_button">
<%= button_to 'Remove from favorites', favorites_destroy_path(recipe_id: @recipe), method: :delete, :class => "button-clear" %>
</div>
</th>
</tr>
</table>








