<h1><%= @recipe.name %></h1>
<h3>Calories</h3>
<%= @recipe.calories %>
<h3>Prep Time</h3>
<%= @recipe.prep_time %>
<h3>Description</h3>
<%= @recipe.description %>
<h3>Dish Style</h3>
<%= @recipe.style.name %>
<h3>Ingredients</h3>
<ul>
<% @recipe.ingredients.each do |ing| %>
    <li>Name: <%= ing.name %> </li>
    <ul>
    <li>Category: <%= ing.category %></li>
    </ul>
<% end %>
</ul>
<br>
<br>
<%= button_to "Edit Recipe", edit_recipe_path(@recipe), :method => :get %>
<%= button_to "Delete Recipe", recipe_path(@recipe), :method => :delete %>





