<h1>Analytics</h1>
<h2>Personal</h2>

<h4>Created Recipes</h4>

<h4> Favorited Recipes</h4>

<h4>Users that favorited your Recipes</h4>


<h2>Averages</h2>

<h4>Average Recipe Rating</h4>
<p><%= Recipe.average_rating %> stars<p>
<h4>Average Recipe Prep Time</h4>
<p><%= Recipe.average_prep_time %> min<p>
<h4>Average Recipe Calories</h4>
<p><%= Recipe.average_calories %> calories<p>
<h2>Highlights</h2>

<h4>Total Recipes</h4>
<p><%=link_to Recipe.all_recipes, recipes_path %><p>

<h4>Total Recipes</h4>

<h4>Most Favorited Recipes</h4>

<h4>Highest Rated Recipe </h4>

<h2>Preferences</h2>

<h4>Vegan recipes</h4>
<ul>
 <% Recipe.all_vegan_dishes.each do |vegan| %> 
    <li><%=link_to vegan, recipe_path(Recipe.where(name: vegan).ids) %></li>   
 <% end %>
 </ul>
<h4>Vegetarian recipes</h4>
<ul>
 <% Recipe.all_vegetarian_dishes.each do |veggie| %> 
    <li><%=link_to vegan, recipe_path(Recipe.where(name: veggie).ids) %></li>   
 <% end %>
 </ul>
<h4> Recipes with rice</h4>
<ul>
 <% Recipe.all_rice_dishes.each do |r| %> 
    <li><%=link_to r, recipe_path(Recipe.where(name: r).ids) %></li>   
 <% end %>
 </ul>
<h4>Recipes with chicken</h4>
<ul>
 <% Recipe.all_chicken_dishes.each do |c| %> 
    <li><%=link_to vegan, recipe_path(Recipe.where(name: c).ids) %></li>   
 <% end %>
 </ul>
<h4>Recipes with pasta</h4>
<ul>
 <% Recipe.all_chicken_dishes.each do |c| %> 
    <li><%=link_to vegan, recipe_path(Recipe.where(name: c).ids) %></li>   
 <% end %>
 </ul>




