<!DOCTYPE html>
<html>
  <head>
    <title>Crecipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div align="center">
  <a class="menu" id="menu-link" href="about">
  About
  </a>
  <a class="menu" id="menu-link" href="/">
  
  Home
  </a>
  <a class="menu" id="menu-link" href="/recipes">
   
  Recipes
  </a>
  <a class="menu" id="menu-link" href="/quiz">

  Quiz
  </a>
  <a class="menu" id="menu-link" href="/analytics">

  Analytics
  </a>
  <a class="menu" id="menu-link" href="/login">

  Login
  </a>  
  <a class="menu" id="menu-link" href="/users/new">
   
  Sign Up
  </a>
  </div>
    <%= yield %>
  </body>
</html>
