<!DOCTYPE html>
<html>
  <head>
    <title>Crecipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Google Fonts -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

   <!-- CSS Reset -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

   <!-- Milligram CSS -->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#hide").click(function(){
    $(".answer").toggle();
  });
  $("#hide2").click(function(){
    $(".answer").toggle();
  });
  $("#hide3").click(function(){
    $(".answer").toggle();
  });
  $("#hide4").click(function(){
    $(".answer").toggle();
  });
  $("#hide5").click(function(){
    $(".answer").toggle();
  });
  $("#hide6").click(function(){
    $(".answer").toggle();
  });
  $("#hide7").click(function(){
    $(".answer").toggle();
  });
  $("#hide8").click(function(){
    $(".answer").toggle();
  });
  $("#hide9").click(function(){
    $(".answer").toggle();
  });
  $("#hide10").click(function(){
    $(".answer").toggle();
  });
  $("#show").click(function(){
    $("p").show();
  });
});

</script>

    
  </head>

  <body>
  <div align="center">
  <nav>
  <div class="home">

  
  <%= link_to image_tag("crecipe_logo_small_2.png") , "/" %>
  
  </div>


  
  <% if logged_in? %>
  <a class="menu" id="menu-link" href="/recipes">
   
  All Recipes
  </a>
  <a class="menu" id="menu-link" href="/user_home">
  My Recipes
  </a>
  <a class="menu" id="menu-link" href="/about">
  About
  </a>
<a class="menu" id="menu-link" href="/quiz">

  Quiz
  </a>

<a class="menu" id="menu-link" href="/analytics">

  Analytics
  </a>
  
<% else %>
<a class="menu" id="menu-link" href="/login">
  Login
  </a>
 
  <a class="menu" id="menu-link" href="/users/new">
   
  Sign Up
  </a>
   <% end %>
   
  </div>
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
<% end %>
</nav>
    <%= yield %>
  </body>
  <footer>
  <div align="left" style="padding-top: 50px;">
  <% if logged_in? %>
  You are currently logged in as <%= current_user.email %>
  
  <br>
  
  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
<% end %>
  </div>
  </footer>
</html>